html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto";
    font-size: 1.6rem;
    line-height: 1.5;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* 

--Reset Styles

*/

a {
    text-decoration: none;
}

/* 

--Component Styles

*/

.app-btn {
    border: none;
    outline: unset;
    padding: 1.5rem 4rem;
    border-radius: 4rem;
    cursor: pointer;
}

/* 

--Helper Class

*/

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-items: center;
}

/* 

--App Styles

*/

/* 

==============
    Header
==============

*/

.header {
    padding-bottom: 20rem;
}

.header__shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    z-index: -10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
}

.nav__logo {
    color: #3d37f1;
    font-family: "Lato-Bold";
    font-size: 3rem;
}

.nav__logo span {
    font-family: "Lato-Light";
    color: #4b647e;
}

.nav__icon-wrapper {
    cursor: pointer;
    display: none;
    width: 3rem;
}

.nav__icon {
    height: 0.3rem;
    background-color: #3d37f1;
    border-radius: 5rem;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    user-select: unset;
    margin: 0.3rem 0;
}

.nav__icon--1 {
    /* margin-bottom: .5rem; */
    width: 50%;
}

.nav__icon--2 {
    /* margin-bottom: .5rem; */
    width: 100%;
}

.nav__icon--3 {
    width: 75%;
}

.nav__icon--active .nav__icon--1 {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(0.4rem, 0rem);
}

.nav__icon--active .nav__icon--2 {
    transform-origin: top;
    transform: rotatez(-45deg);
}

.nav__icon--active .nav__icon--3 {
    transform-origin: bottom;
    width: 50%;
    transform: translate(1.3rem, -0.5rem) rotatez(45deg);
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    margin-left: 5rem;
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__link {
    font-family: "Lato-Bold";
    color: #fff;
    display: block;
}

.nav__link--login {
    background-color: #ff8923;
}

.header-wrapper {
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content {
    flex-basis: 50%;
}

.header__title {
    color: #534d4d;
    font-family: "Lato-Bold";
    font-size: 7rem;
}

.header__caption {
    color: #534d4d;
    font-size: 2rem;
}

.header__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3d37f1;
    color: #fff;
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
    margin-top: 5rem;
}

.header__btn-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.5rem;
}

.header__picture {
    flex-basis: 50%;
}

.header__img {
    display: block;
    width: 100%;
}

.bg-overaly {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0;
    z-index: -100;
}

.bg-overaly--active {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.1rem);
    overflow: visible;
    opacity: 1;
    z-index: 10;
}

/* 

============
    Main
============

*/

/* Services Section */

.services {
    text-align: center;
    margin-bottom: 10rem;
}

.services__small-title {
    color: #3d37f1;
    font-family: "Lato-Bold";
    font-size: 1.8rem;
}

.section__title {
    color: #5a5454;
    font-family: "Lato";
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.services__caption {
    color: #747474;
    max-width: 63rem;
    margin: 0 auto;
}

.services-wrapper {
    max-width: 110rem;
    margin: 8rem auto 0 auto;
}

.service {
    padding: 3rem;
    color: #fff;
}

.service__bg--Orange {
    background: linear-gradient(to bottom, #fbba77, #dfa871);
}

.service__bg--Turquoise {
    background: linear-gradient(to bottom, #41eae3, #2293b7);
}

.service__bg--Bush {
    background: linear-gradient(to bottom, #69529f, #463864);
}

.service__bg--HavelockBlue {
    background: linear-gradient(to bottom, #4386d2, #0962c5);
}

.service__bg--Perano {
    background: linear-gradient(to bottom, #a5a2f6, #564fd6);
}

.service__bg--Geraldine {
    background: linear-gradient(to bottom, #ff8088, #984141);
}

.servies__img-icon {
    width: 10rem;
    height: 10rem;
    margin: 4rem auto;
}

.service__title {
    font-family: "Lato";
    font-size: 2rem;
    margin-bottom: 1rem;
}

.service__description {
    max-width: 30rem;
    margin: 0 auto;
}

.service__btn {
    margin-top: 2rem;
    color: #fff;
    padding: 1.5rem 3rem;
    background-color: transparent;
    border: 0.1rem solid #fff;
}

.service__btn--active {
    color: #4b647e;
    background-color: #fff;
}

/* Workflow Section */

.promations {
    padding: 10rem 0;
}

.promation__img {
    display: block;
    width: 100%;
}

.promation__content {
    padding: 3rem;
}

.promation__title {
    color: #5a5454;
    font-family: "Lato-Bold";
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.promation__caption {
    color: #747474;
    max-width: 42rem;
    margin-bottom: 2rem;
}

.promation-video {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.promation-video__icon-wrapper {
    background-color: #3d37f1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.promation-video__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: #fff;
}

.promation-video__line {
    background-color: #686868;
    width: 4rem;
    height: 0.3rem;
    margin: 0 1.5rem;
    border-radius: 5rem;
}

.promation-video__text {
    font-family: "Roboto-Thin";
    color: #686868;
}

.portfolio__img {
    display: block;
    width: 100%;
}

/* Portfolio Section */

.portfolio {
    margin-bottom: 10rem;
}

.portfolio-wrapper {
    max-width: 110rem;
    margin: auto;
}

.portfolio__title {
    color: #5a5454;
    font-family: "Lato-Bold";
    font-size: 3.5rem;
}

.portfolio__caption {
    color: #747474;
    font-family: "Roboto-Light";
    margin-bottom: 7rem;
}

.portfolio-items {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.portfolio__item {
    color: #969ca2;
    font-family: "Roboto-Medium";
    font-size: 1.8rem;
    margin-bottom: 3rem;
    cursor: pointer;
    width: fit-content;
    position: relative;
    transition: 250ms;
    padding-bottom: 0.5rem;
}

.portfolio__item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.3rem;
    width: 0;
    background-color: #3d37f1;
    transition: 250ms;
}

.portfolio__item--active {
    color: #3d37f1;
}

.portfolio__item--active::after {
    width: 100%;
}

.portfolio__img-wrapper {
    display: grid;
    grid-auto-rows: 30rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    overflow: hidden;
    opacity: 0;
    transition: 600ms;
    height: 0;
}

.portfolio__img-wrapper--active {
    overflow: visible;
    opacity: 1;
    height: auto;
}

.portfolio__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 1rem #bdbdbd;
    overflow: hidden;
    border-radius: 0.4rem;
}

/* Successes Section */

.successes {
    text-align: center;
    padding-top: 10rem;
}

.successes__title {
    color: #5a5454;
    font-family: "Lato-Bold";
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.successes__caption {
    color: #747474;
}

.successes-wrapper {
    margin-top: 10rem;
}

.success {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Lato-Black";
    font-size: 3.8rem;
    max-width: 15.7rem;
    margin: auto;
    padding: 5rem;
    border-radius: 4rem;
    margin-bottom: 2rem;
}

.success__bg--purple {
    background: linear-gradient(to bottom right, #af94fd, #6651f3);
    box-shadow: 0.5rem 1rem 5rem #af94fd;
}

.success__bg--pink {
    background: linear-gradient(to bottom right, #ff95a5, #ff62a3);
    box-shadow: 0.5rem 1rem 5rem #ff95a5;
}

.success__bg--orange {
    background: linear-gradient(to bottom right, #fbc9a4, #ff884a);
    box-shadow: 0.5rem 1rem 5rem #fbc9a4;
}

.success__caption {
    color: #4b647e;
    font-family: "Lato-Bold";
    font-size: 1.8rem;
}

/* AboutUs Section */

.aboutus {
    padding: 10rem 0;
    background-image: url("../images/about-us-section-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.aboutus-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutus__header {
    text-align: center;
    margin-bottom: 15rem;
}

.aboutus__title {
    font-family: "Lato-Bold";
    font-size: 3.5rem;
}

.aboutus__caption {
    color: rgba(255, 255, 255, 24%);
}

.aboutus__content {
    text-align: center;
    margin-bottom: 10rem;
}

.aboutus__content-img-wrapper {
    width: 20rem;
    height: 20rem;
    margin: 0 auto 5rem auto;
    position: relative;
}

.aboutus__content-img {
    display: block;
    width: 100%;
    height: 100%;
}

.aboutus__content-img-wrapper::after {
    content: "9.8";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #ff992e;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transform: translate(-50%, 30%);
}

.aboutus__content-caption {
    color: #d6d6d6;
    margin: 0 auto 3rem auto;
    max-width: 51rem;
}

.aboutus__content-name {
    color: #8f8bff;
    font-family: "Roboto-Medium";
    font-size: 2.5rem;
}

.aboutus__content-undername {
    color: #d6d6d6;
    font-size: 1.7rem;
}

.aboutus__description {
    border-top: 0.1rem solid #707070;
    padding-top: 5rem;
    max-width: 100rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.aboutus__description-subject {
    color: rgba(255, 255, 255, 24%);
    margin-bottom: 1rem;
}

.aboutus__description-title {
    font-size: 3rem;
    max-width: 42rem;
}

.aboutus__description-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d37f1;
    font-size: 1.8rem;
    color: #fff;
}

/* Ourworks Section */

.ourworks {
    margin: 10rem 0;
}

.ourworks-wrapper {
    max-width: 100rem;
    margin: auto;
}

.ourwork {
    padding: 5rem;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 2rem;
    z-index: 1;
    column-rule: #fff;
    height: 40rem;
    max-width: 35rem;
    width: 100%;
    margin: auto;
}

.ourwork::after {
    z-index: -1;
}

.ourwork-design {
    background-image: url("../images/design-img.jpg");
}

.ourwork-design::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(19, 27, 124, 80%);
}

.ourwork-sketch {
    background-image: url("../images/sketch-img.jpg");
}

.ourwork-sketch::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(243, 111, 33, 80%);
}

.ourwork-testing {
    background-image: url("../images/testing-img.jpg");
}

.ourwork-testing::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(165, 162, 246, 80%);
}

.ourwork__icon {
    width: 10rem;
    height: 10rem;
    margin-bottom: 0.5rem;
}

.ourwork__title {
    font-size: 3.5rem;
    color: #fff;
}

.ourwork__caption {
    color: rgba(255, 255, 255, 70%);
    font-size: 2rem;
    max-width: 16rem;
}

/* workflow Section */

.workflow {
    margin-bottom: 10rem;
}

.workflow__img {
    display: block;
    width: 100%;
    height: 100%;
}

.workflow__title {
    color: #5a5454;
    font-family: "Lato-Bold";
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.workflow__caption {
    color: #747474;
    max-width: 42rem;
    margin-bottom: 3rem;
}

.workflow-items-wrapper {
    display: grid;
    grid-auto-rows: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 1rem;
}

.workflow__item {
    display: flex;
    align-items: center;
    text-align: start;
}

.workflow__count-number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.workflow__count-number-1 {
    background-color: #3d37f1;
}

.workflow__count-number-2 {
    background-color: #9997df;
}

.workflow__count-number-3 {
    background-color: #ffba3f;
}

.workflow__count-number-4 {
    background-color: #e66e6e;
}

.workflow__count-number-5 {
    background-color: #66659f;
}

.workflow__count-number-6 {
    background-color: #f17637;
}

.workflow__count-number-7 {
    background-color: #37f1be;
}

.workflow__count-number-8 {
    background-color: #f137e5;
}

.workflow__count-number-9 {
    background-color: #f13d37;
}

.workflow__item-texts {
    margin-left: 2rem;
}

.workflow__item-title {
    color: #747474;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.workflow__item-caption {
    color: #747474;
    max-width: 21rem;
    font-size: 1.5rem;
}

/* Blogs Section */

.blogs {
    padding-bottom: 7rem;
}

.blogs__title {
    text-align: center;
    color: #5a5454;
    font-family: "Lato";
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.blogs__caption {
    text-align: center;
    color: #747474;
    max-width: 47rem;
    margin: auto;
}

.blogs-wrapper {
    margin: 7rem auto 0 auto;
    max-width: 100rem;
}

.blog-item {
    box-shadow: 0 0 1rem #d4d4d4;
    border-radius: 0.5rem;
    overflow: hidden;
}

.blog-item__img-wrapper {
    position: relative;
    overflow: hidden;
}

.blog-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-item__shape {
    position: absolute;
    left: 0rem;
    bottom: 0;
    right: 0;
}

.blog-item__content-wrapper {
    padding: 2rem;
}

.blog-item__shape {
    fill: #fff;
}

.blog-item__title {
    color: #5a5454;
    font-family: "Lato-Bold";
    font-size: 2rem;
    margin-bottom: 1rem;
}

.blog-item__description {
    color: #747474;
    font-size: 1.4rem;
    max-width: 28rem;
    margin-bottom: 2rem;
}

.blog-item__arrow-icon {
    width: 3rem;
    height: 3rem;
    fill: #3d37f1;
    cursor: pointer;
    transition: 300ms;
}

.blog-item__arrow-icon:hover {
    transform: translateX(0.5rem);
}

/* Brands Section */

.brands {
    margin: 10rem 0;
}

.brands-wrapper {
    margin: auto;
    max-width: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.brand {
    width: 15rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.5rem;
}

.brand__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 

==============
    footer
==============

*/

.footer {
    padding-top: 5rem;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100rem;
    margin: auto;
}

.footer__information__title {
    color: #3d37f1;
    font-family: "Lato";
    font-size: 3rem;
}

.footer__information__title span {
    color: #4b647e;
}

.footer__information__caption {
    color: #747474;
    max-width: 29rem;
    margin: 2rem 0 3rem 0;
}

.footer__information__btns-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer__information__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a315a;
    border: none;
    outline: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 2rem;
}

.footer__information__btn-icon {
    width: 2rem;
    height: 2rem;
    fill: #fff;
}

.footer-guide {
    width: 100%;
    max-width: 17rem;
}

.footer-guide__title {
    color: #747474;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer-guide__item {
    margin-bottom: 2rem;
}

.footer-guide__link {
    display: block;
    color: #4b647e;
    position: relative;
    transition: 300ms;
    padding: 0.5rem 0;
}

.footer-guide__link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 50%;
    width: 0rem;
    height: 0.3rem;
    transition: 300ms;
    border-radius: 5rem;
    background-color: #3d37f1;
}

.footer-guide__link:hover {
    padding-left: 2rem;
}

.footer-guide__link:hover::before {
    width: 1.5rem;
}

.footer-guide__link--phone-icon,
.footer-guide__link--location-icon {
    display: flex;
    align-items: center;
}

.footer-guide__link__icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: #4b647e;
    margin-right: 0.5rem;
}

.footer-copy-right {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copy-right__text {
    color: #969ca2;
}
